.search-results {
    height: 30rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data-card{
    padding: 5px;
    margin: 8px 0px;
    width: 20%;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: rgb(236, 234, 111);
  }